.contenedor-box{
    width: 250px;
    display: inline-block;
    padding 5px;
}
.alinear{
    display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
}
.ocultar{
    display: none!important;
}
