<!DOCTYPE html>
<html lang="en">

{% extends 'encabezado.html' %}

{% block content %}
{% load static %}
<br>
<br>
<div class="container pt-3 mt-5 border shadow">
    <div class="row">
        <div class="col-lg">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'tienda' %}">&#x2190; Continua comprando</a>

                <table class="table">
                    <tr>
                        <th><h5 class="gris"> Items: <strong>{{order.get_cart_items}}</strong></h5></th>
                        <th><h5 class="gris"> Total: <strong>${{order.get_cart_total}}</strong></h5></th>
                        <th>
                            <a style="float: right; margin: 5px" class="btn btn-success" href="{% url 'checkout' %}">
                                Checkout </a>
                        </th>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>

<div class="container pt-3 mt-5 border shadow">
    <div class="row">
        <div class="col-lg">
            <div class="box-element">
                <div class="alinear gris" style="border-bottom: 1px solid;">
                    <div style="flex: 2"></div>
                    <div style="flex: 2"><strong>Item</strong></div>
                    <div style="flex: 1"><strong>Precio</strong></div>
                    <div style="flex: 1"><strong>Cantidad</strong></div>
                    <div style="flex: 1"><strong>Total</strong></div>
                </div>
                {% for item in items %}
                <div class="alinear">
                    <div style="flex: 2">
                        {% if item.product.foto %}
                        <img style="width: 100px" src= "{{item.product.foto.url}}" alt="">
                        {% else %}
                        <img style="width: 100px" src= "{% static 'lib/adminelt/img/placeholder.png' %}" alt="">
                        {% endif %}
                    </div>
                    <div style="flex: 2; color: #D9AAB8;"><strong>{{item.product.nombre}}</strong></div>
                    <div class="gris" style="flex: 1"><strong>{{item.product.precio|floatformat:1}}</strong></div>
                    <div style="flex: 1; display: flex; aling-items: center;">
                        <p class="gris" style="display: inline-block; font-weight: 700; padding-right: 10px;">{{item.quantity}}</p>
                        <div style="display: inline-block; font-weight: 700; padding-right: 10px;">
                            <i data-product="{{item.product.codigo}}" data-action="add" onclick="getNumber('{{user}}')" class='fas fa-angle-up gris' style="width: 12px; cursor: pointer; display: block"></i>
                            <i data-product="{{item.product.codigo}}" data-action="remove" onclick="getNumber('{{user}}')" class='fas fa-angle-down gris' style="width: 12px; cursor: pointer; display: block"></i>

                        </div>
                    </div>
                    <div class="gris" style="flex: 1"><strong>{{item.get_total|floatformat:1}}</strong></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
{% endblock %}

</html>