{% extends 'encabezado.html' %}
{% load static %}

{% block content %}
<br><br>
<div class="container">
    <div class="row">

        <div class="col-lg">
            <div class="container mt-5 shadow" style="padding-top: 20px;padding-bottom: 10px;">
                <div id="box-wrapper">
                    <form>
                        <div id="user-info">
                            <div class="contenedor-box"><input required class="form-control" type="text" name="nombre"  placeholder="Nombre..">
                            </div>
                            <div class="contenedor-box"><input required class="form-control" type="text" name="correo" placeholder="Correo..">
                            </div>
                        </div>
                        <div id="shipping-info">
                            <hr>
                            <p>Informacion de Envío</p>
                            <hr>
                            <div class="contenedor-box"><input class="form-control" type="text" name="direccion" placeholder="Direccion..">
                            </div>
                            <div class="contenedor-box"><input class="form-control" type="text" name="ciudad" placeholder="Ciudad..">
                            </div>
                            <div class="contenedor-box"><input class="form-control" type="text" name="comuna" placeholder="Comuna..">
                            </div>
                            <div class="contenedor-box"><input class="form-control" type="text" name="codigopostal" placeholder="Codigo Postal..">
                            </div>
                        </div>
                        <hr>
                        <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                        <br>
                    </form>
                </div>
            </div>
        </div>

        <div class=col-lg>
            <div class="container mt-5 shadow " style="padding-top: 20px;padding-bottom: 10px;">
                <a href="{% url 'carro' %}" class="btn btn-outline-dark">Regresar al Carrito</a>
                <hr>
                <h4>Resumen de Pedido</h4>
                <hr>
                {% for item in items %}
                <div class="alinear">
                    <div style="flex: 2">
                        {% if item.product.foto %}
                        <img style="width: 100px" src="{{item.product.foto.url}}" alt="">
                        {% else %}
                        <img style="width: 100px" src="{% static 'lib/adminelt/img/placeholder.png' %}" alt="">
                        {% endif %}
                    </div>
                    <div style="flex: 2">{{item.product.nombre}}</div>
                    <div style="flex: 1">${{item.product.precio}}</div>
                    <div style="flex: 1">{{item.quantity}}</div>
                </div>
                {% endfor %}
                <h5>Items: {{order.get_cart_items}}</h5>
                <h5>Total: ${{order.get_cart_total}}</h5>
            </div>
        </div>
        <br>


    </div>
</div>
<br>
<div class="container shadow ocultar">
    <div class="row" >
        <div id="payment-info" class="ocultar">
            <small>Opciones de Pago</small>
            <button id="make-payment">Realizar Pago</button>
        </div>
    </div>
</div>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
{% endblock %}
