{% extends 'encabezado.html' %}
{% load static %}

{% block content %}
<br><br>
<div class="container">
    <div class="row">

        <div class="col-lg">
            <div class="container mt-5 shadow" style="padding-top: 20px;padding-bottom: 10px;">
                <div id="box-wrapper">
                    <form id="form">
                        <div id="user-info">
                            <div class="contenedor-box"><input required class="form-control" type="text" name="nombre"
                                                               placeholder="Nombre..">
                            </div>
                            <div class="contenedor-box"><input required class="form-control" type="text" name="correo"
                                                               placeholder="Correo..">
                            </div>
                        </div>
                        <div id="shipping-info">
                            <hr>
                            <p>Informacion de Envío</p>
                            <hr>
                            <div class="contenedor-box"><input class="form-control" type="text" name="direccion"
                                                               placeholder="Direccion..">
                            </div>
                            <div class="contenedor-box"><input class="form-control" type="text" name="ciudad"
                                                               placeholder="Ciudad..">
                            </div>
                            <div class="contenedor-box"><input class="form-control" type="text" name="comuna"
                                                               placeholder="Comuna..">
                            </div>
                            <div class="contenedor-box"><input class="form-control" type="text" name="codigopostal"
                                                               placeholder="Codigo Postal..">
                            </div>
                        </div>
                        <hr>
                        <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                        <br>
                    </form>
                </div>
            </div>
        </div>

        <div class=col-lg>
            <div class="container mt-5 shadow " style="padding-top: 20px;padding-bottom: 10px;">
                <a href="{% url 'carro' %}" class="btn btn-outline-dark">Regresar al Carrito</a>
                <div class="form-check" style="display: inline-block;">
                    <input onchange="handleCheckboxChange(id)" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                    <label class="form-check-label" for="flexRadioDefault1">Despacho a Domicilio</label>
                </div>
                <div class="form-check" style="display: inline-block">
                    <input onchange="handleCheckboxChange(id)" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Retiro en Tienda
                    </label>
                </div>
                <hr>
                <h4>Resumen de Pedido</h4>
                <hr>
                {% for item in items %}
                <div class="alinear">
                    <div style="flex: 2">
                        {% if item.product.foto %}
                        <img style="width: 100px" src="{{item.product.foto.url}}" alt="">
                        {% else %}
                        <img style="width: 100px" src="{% static 'lib/adminelt/img/placeholder.png' %}" alt="">
                        {% endif %}
                    </div>
                    <div style="flex: 2">{{item.product.nombre}}</div>
                    <div style="flex: 1">${{item.product.precio}}</div>
                    <div style="flex: 1">{{item.quantity}}</div>
                </div>
                {% endfor %}
                <h5>Items: {{order.get_cart_items}}</h5>
                <h5>Total: ${{order.get_cart_total}}</h5>
            </div>
        </div>
        <br>


    </div>
</div>
<br>
<div class="container shadow">
    <div class="row">
        <div id="payment-info" class="ocultar">
            <small>Opciones de Pago</small>
            <button onclick="bottomClicked()" id="make-payment">Realizar Pago</button>
        </div>
    </div>
</div>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>

<script>
    var shipping = '{{order.shipping}}';
    var total = '{{order.get_cart_total|floatformat:2}}';
    var status = 'False'

    if (document.getElementById('flexRadioDefault1').checked) {
        shipping = 'True'
    }

    function handleCheckboxChange(checkboxId) {
        if (checkboxId === 'flexRadioDefault1') {
            shipping == 'True';
            document.getElementById('shipping-info').classList.remove('ocultar');


        } else if (checkboxId === 'flexRadioDefault2') {
            shipping = 'False';
            document.getElementById('shipping-info').classList.add('ocultar');

        }

    }
    var form = document.getElementById('form')

    form.addEventListener('submit', function(e) {
        e.preventDefault()
        console.log('Form submitted..')
        document.getElementById('form-button').classList.add('ocultar')
        document.getElementById('payment-info').classList.remove('ocultar')

    })

    function bottomClicked() {
        console.log('El Boton se Clickeo')

        var userFormdata = {
            'nombre': null,
            'correo': null,
            'total': total,
        };

        var shippingInfo = {
            'direccion': null,
            'ciudad': null,
            'comuna': null,
            'codigopostal': null,
        };

        shippingInfo.direccion = form.direccion.value
        shippingInfo.ciudad = form.ciudad.value
        shippingInfo.comuna = form.comuna.value
        shippingInfo.codigopostal = form.codigopostal.value

        if ('{{user}}' == "AnonymousUser"){
            userFormdata.nombre = form.nombre.value
            userFormdata.correo = form.correo.value
        }else {
            userFormdata.nombre = '{{user}}'
            userFormdata.correo = '{{user.email}}'
        }

        fetch('/process_order/', {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({'form': userFormdata, 'shipping':shippingInfo, 'proceso': shipping})

        }
        )
        .then(response => {
        // Verificar si la solicitud fue exitosa (código 200)
            if (!response.ok) {
                throw new Error('Hubo un problema al realizar la solicitud: ' + response.status);
            }
            // Si la solicitud fue exitosa, convertir la respuesta a JSON
            return response.json();
        })
        .then(data => {
            console.log(data);
            alert('Transaccion Completada')
            window.location.href = "{% url 'inicio' %}"
        })
        .catch(error => {
        // Capturar cualquier error que haya ocurrido durante la solicitud
            console.error('Error:', error);
        });

    }

</script>


{% endblock %}
