<!DOCTYPE html>
<html lang="en">

{% extends 'encabezado.html' %}
{% load static %}

{% block content %}
<div class="navbar mt-5" data-aos="zoom-out-left" data-aos-duration="3000">
    <ul class="list-unstyled">
        <li>
            <img src="{% static 'lib/adminelt/img/Matilde Atelier_Logo vertical (sin fondo).png' %}" class="img-fluid d-block mx-auto" style="width: 17%;">
        </li>
        <li class="d-flex justify-content-center align-items-center" style="color:#E9CFD7;">
            Detalles que cuentan historias
        </li>
    </ul>
</div>
<div class="container">
    Aca va a comenzar el listado de insumos de compras
</div>




<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
{% endblock %}


</html>