<!DOCTYPE html>
<html lang="en">

{% extends 'encabezado.html' %}


{% block content %}
{% load static %}
<br><br><br>
<div class="container mt-5 shadow">

    <div class="row mt">
        {% for pro in producto %}
        <div class="col-lg" style="padding-top: 10px;padding-bottom: 10px;">
            {% if pro.foto %}
            <img class="thumbnail" src="{{pro.foto.url}}" style="width: 169px">

            {% else %}
            <img class="thumbnail" src="{% static 'lib/adminelt/img/placeholder.png' %}" style="width: 300px">
            {% endif %}
            <div class="box-element product"></div>
            <h6><strong>{{pro.nombre}}</strong></h6>
            <hr>
          <button data-product="{{pro.codigo}}" data-action="add" class="btn btn-outline-secondary update-cart" onclick="getNumber('{{ user }}')" >Agregar a Carrito</button>
          <a href="#" class="btn btn-outline-secondary">View</a>
          <h5 style="display: inline-block; float: right">${{pro.precio|floatformat:1}}</h5>
        </div>
        {% endfor %}
    </div>
</div>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
{% endblock %}


</html>