<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Matilde Tienda</title>
    <link rel="shortcut icon" type="image/png"
          href="{% static 'lib/adminelt/img/Matilde Atelier_Logo horizontal secundario líneas negras (sin fondo).png' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <link href="{% static 'lib/bootstrap-5.3.2-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'lib/adminelt//plugins/fontawesome-free/css/all.min.css' %}">
    <script src="{% static 'lib/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js' %}"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!--style>
        body{
            background-image: url("{% static 'lib/adminelt/img/Matilde Atelier_Papel para envolver (diseño).jpg' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

    </style-->
</head>
<body class="hold-transition layout-top-nav">


<nav class="navbar navbar-expand-sm navbar-light fixed-top" data-aos="zoom-out-left" id="navbarCollapse"
     style="background-color: #E9CFD7;height: 70px;">
    <a class="navbar-brand" href="#">
        <img src="{% static 'lib/adminelt/img/Matilde Atelier_Logo horizontal secundario líneas negras (sin fondo).png' %}"
             alt="Logo" style="width:90px;" class="rounded-pill">
        <span>Matilde Atelier</span>
    </a>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'inicio' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contacto</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    Productos
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'tienda' %}">Collares</a></li>
                    <li><a class="dropdown-item" href="#">Pulseras</a></li>
                    <li><a class="dropdown-item" href="#">Accesorio para Bodas</a></li>
                </ul>

            </li>

        </ul>
        <!--form class="d-flex d-block mx-auto">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn" type="button" style="background-color: #C0C5BC;">Search</button>
      </form-->
        <a type="button" href="{% url 'carro' %}" class="nav-link d-flex d-block ms-auto me-5">
            <i class="fa fa-shopping-bag" style="font-size: 25px">
            </i>
        </a>


    </div>
</nav>

{% block content %}


{% endblock %}
<script src="{% static 'lib/adminelt/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'lib/adminelt/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'lib/adminelt/js/adminlte.min.js' %}"></script>
</body>
</html>
